*, html {
    box-sizing: border-box;
    /* padding: 0; */
    /* justify-content: center; */
    /* text-align: center; */
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

body {
    /* background-color: blueviolet; */
    /* background-image: url("https://media.tenor.com/2FL76f6q7u8AAAAi/explosion.gif");
    background-image: url("src/imgs/explosion.gif"); */
}

/* Starter Page */
.starterPage {
    width: 100vw;
    height: 100vh;
    background-image: url("../imgs/battleshipBackground.gif");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.starterPage-Container {
    background-color: rgba(245, 245, 245, 0.7);
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* background-color: rgba(0, 0, 0, 0.7); */
    border-radius: 5px;
    /* padding: 20px; */
    /* opacity: 50%; */
}

.starterPage-Title {
    /* background-color: rgba(245, 245, 245, 0.701); */
    padding: 50px 50px 0 50px;
}

.starterPage-Container h1 {
    font-weight: 900;
    color: rgb(70, 80, 80);
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 30px;
}

.inputPlayersNameContainer {
    padding: 50px 30px 40px 30px;
    gap: 40px;

    color: rgb(81, 83, 83);
    color: white;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.playerInputField {
    font-weight: 600;
}

.playerInputField input {
    border: none;
    height: 35px;
    width: 170px;
    border-radius: 4px;

    color: whitesmoke;
    text-align: center;
    background-color: black;
    opacity: 70%;
}

.submitPlayersNameBtnContainer {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 10px;
    padding-bottom: 30px;
}

.submitPlayersNameBtn, button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 7px;
    box-shadow: 4px 4px 4px black;

    background-color: whitesmoke;
    color: black;
    font-weight: 800;
}

/* Sea layout */
.sea, .player1Sea, .player2Sea {
    min-width: 500px;
    min-height: 500px;
    /* border: 3px solid black;
    border-radius: 7px; */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* background-color: rgb(195, 195, 255);
    background-color: rgb(100, 100, 255);
    background-color: rgb(152, 174, 194); */
    background-color: black;
    opacity: 85%;
}

.seaBox {
    width: 50px;
    height: 50px;
    border: 0.5px solid whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
}

.seaBox:hover {
    background-color:burlywood;
    cursor: crosshair;
}

/* ShipPlacementPage */
.shipPlacementPage {
    width: 100%;
    min-height: 100vh;

    background-image: url("../imgs/shipPlacementPageBackground1.gif");
    background-repeat: no-repeat;
    background-size: 100vw 100%;

    display: flex;
    justify-content: center;
}

.shipPlacementPage-Container {
    width: 90%;
    /* margin: 3vw; */
    /* padding: 40px; */
    background-color: rgba(245, 245, 245, 0.7);
    /* border-radius: 20px; */

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.shipPlacementPage-Heading {
    width: 100%;
    height: 130px;
    background-color: black;
    
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    
    grid-column: 1 / 3;
}

.shipPlacementPage-Subheading {
    width: 100%;
    height: 130px;
    /* background-color: whitesmoke; */
    color: black;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: none; */

    margin-bottom: 30px;
    
    grid-column: 1 / 3;
    opacity: 80%;
}

.whosTurn {
    background-color: black;
    width: 100%;
    height: 65%;
    border-bottom: 5px solid whitesmoke ;

    color: whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shipPlacementPage-Subheading a {
    background-color: whitesmoke;
    align-items: center;
    width: 13%;
    height: 35%;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    color: black;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}


.shipsAtHarbour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* align-self: center; */
    align-items: center;
}

.shipSpace {
    margin-top: 10px;
    margin-left: 50px;
    position: relative;
}

.ship {
    height: 50px;
    /* border: 2px solid black; */
    border-radius: 3px;
    padding-left: 7px;
    background-color: rgb(231, 106, 106);
    /* position: absolute; */
    z-index: 2;
    /* display: grid; */
    font-size: 12px;
    align-content: center;
}

.grab {
    /* border-right: 1px solid black;
    border-radius: 30px; */
    padding-left: 1px;
    font-size:smaller;
}
.ship:hover {
    cursor: grab;
}

.ship:active {
    cursor:grabbing;
}

.ship1 {
    width: 250px;
    background-color: rgb(255, 61, 61);
    background-color: whitesmoke;
    /* grid-template-columns: repeat(5, 1fr); */
}
.ship2 {
    width: 200px;
    background-color: rgb(255, 110, 25);
    background-color: lightgray;
    /* grid-template-columns: repeat(4, 1fr); */
}
.ship3, .ship4 {
    width: 150px;
    background-color: orange;
    background-color: gray;
    /* grid-template-columns: repeat(3, 1fr); */
}
.ship5 {
    width: 100px;
    background-color: yellow;
    background-color: rgb(95, 95, 95);
    /* grid-template-columns: repeat(2, 1fr); */
}

.options {
    margin: 80px 0 40px 0;
    grid-column: 1 / 3;
    display: flex;
    gap: 200px
}

.shipPlacementPage-Options {
}

/* GamePage */
.gamePage {
    width: 100%;
    min-height: 100vh;

    background-image: url("../imgs/gamePageBackground1.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-color: black; */

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    /* display: none; */
}

.gamePage-Heading {
    width: 100%;
    padding: 40px;
    background-color: black;

    color: whitesmoke;
    text-align: center;

    grid-column: 1 / 3;
}

.gamePage-WhosTurn {
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    /* border-bottom: 5px solid whitesmoke ; */

    color: black;
    text-align: center;

    grid-column: 1 / 3;
}

.whosBoard {
    width: 40%;
    padding: 10px;
    background-color: black;

    border: 2px solid whitesmoke;
    border-bottom: none;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;

    color: whitesmoke;
    text-align: center;
    font-weight: bold;

    opacity: 85%;
}

/* .player1Sea .seaBox, .player2Sea .seaBox {
    opacity: 100%;
    } */
    
    
/* .shotMissed {
    background-color: bisque;
} */
    
.gamePage-Options {
    grid-column: 1 / 3;

}


.hidden {
    display: none;
}

/* Icons */
.carrierIcon::before {
    content: url('../imgs/carrierIcon.png');
    width: 20px;
    height: 20px;
}

.battleshipIcon::before {
    content: url('../imgs/battleshipIcon.png');
}

.cruiserIcon::before {
    content: url('../imgs/cruiserIcon.png');
}

.destroyerIcon::before {
    content: url('../imgs/destroyerIcon.png');
}