*, html {
    box-sizing: border-box;
    /* padding: 0; */
    /* justify-content: center; */
    /* text-align: center; */
}

/* Starter Page */
.starterPage {
    display: none;
}

.sea, .player1Sea, .player2Sea {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.seaBox {
    border: 0.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seaBox:hover {
    background-color: bisque;
}

/* ShipPlacementPage */
.shipPlacementPage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    display: none;
}

.shipPlacementPage-Heading {
    grid-column: 1 / 3;
    height: 130px;
}

.shipsAtHarbour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.shipSpace {
    margin-top: 10px;
    margin-right: 10px;
}

.ship {
    height: 50px;
    border: 2px solid black;
}
.ship1 {
    width: 250px;
}
.ship2 {
    width: 200px;
}
.ship3, .ship4 {
    width: 150px;
}
.ship5 {
    width: 100px;
}

/* GamePage */
.gamePage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.gamePage-Heading {
    grid-column: 1 / 3;
}

.whosTurn {
    grid-column: 1 / 3;
}


.shotMissed {
    background-color: bisque;
}